body {
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
 } 
* {
    margin: 0;
    padding: 0;
 }
/* header section  */
a {
    text-decoration: none;
    color: #8B8000;
    position: relative;
    left: 600px;
    top: -20px;
    font-size: 18px;
    padding: 5px;
}
.head {
}
#a {
    position: relative;
    left: 90px;
}
.head, .one {
    background-color: #F4BB44;
    color: white;
    
}
/* section 1  */
#me {
    max-width: 35%;
    max-height: 30%;
    border-radius: 17px;
    position: relative;
    left: 620px;
    top: -45px;
}
.liyah {
    font-size: 48px;
}
.intro {
    overflow-wrap: break-word;
    max-width: 300px;
    font-size: 20px;
}
.liyah, .intro {
    font-family: ;
}
/* section 2  */
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8DE7E;
    /* padding: 40px; */
    height: 300px;
    /* flex-flow: row wrap; */
}
#fun {
    position: absolute;
    bottom: 350px;
}

.two img {
    max-width: 50%;
    max-height: 50%;
    margin: 10px;
    border-radius: 5px;
}
#pink {
    border-radius: 10px;
    max-height: 300px;
}

/* section 3  */
.quote {
    background-color: #F3E5AB;
    padding: 70px;
    font-size: 35px;
    font-family: 'Smooch', Courier,sans-serif;
}
/* section 4  */
.fourth {
background-color: #FFE5B4;
border-radius: 20px;
margin: 40px;
display: flex;
align-items: flex-start;
flex-flow: column wrap;
padding: 30px;
position: relative;



}
.fourth h3 {
    font-family: 'Arima', Courier,sans-serif;
    position: relative;
    top: -20px;
    left: 110px;
}
.fourth p {
    position: relative;
    top: -10px;
    left: 110px;
    font-family: 'Arima', Courier,sans-serif;
}

#up {
    background-color: #FFC000;
    border-color: white;
    color: white;
    border-radius: 6px;
    align-self: flex-end;
    padding: 5px 17px 5px 17px;
    flex: 1 1 auto;
    position: relative;
    top: -40px;
    left: -120px;
}
/* footer  */
#footer {
    margin-top: auto;
    background-color: #F4BB44;
    padding: 20px 10px 20px 10px;
    text-align: center;
    min-width: 1000px;

}