body{
    display: flex;
    flex-direction: column;
 } 
/* header section  */

/* section 1  */

/* section 2  */
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8DE7E;
    padding: 40px;
    /* flex-flow: row wrap; */
}


.two img {
    max-width: 80%;
    max-height: 80%;
    margin: 10px;
    border-radius: 5px;
}
/* section 3  */
.quote {
    background-color: #F3E5AB;
    padding: 70px;
    font-size: 35px;
    font-family: 'Smooch', Courier,sans-serif;
}
/* section 4  */
.fourth {
background-color: #FFE5B4;
border-radius: 20px;
margin: 40px;
display: flex;
align-items: flex-start;
flex-flow: column wrap;
padding: 10px;
position: relative;



}
.fourth h3 {
    font-family: 'Arima', Courier,sans-serif;
    position: relative;
    top: 20px;
    left: 110px;
}
.fourth p {
    position: relative;
    top: -10px;
    left: 110px;
    font-family: 'Arima', Courier,sans-serif;
}

#up {
    background-color: #FFC000;
    border-color: white;
    color: white;
    border-radius: 6px;
    align-self: flex-end;
    padding: 5px 17px 5px 17px;
    flex: 1 1 auto;
    position: relative;
    top: -60px;
    left: -120px;
}
/* footer  */
#footer {
    margin-top: auto;
    background-color: #F8DE7E;
    padding: 20px 10px 20px 10px;
    text-align: center;
    min-width: 1000px;

}